.home-background {
  background: #e0e0e0;
  width: 100%;
  height: 100%;
  padding-top: 112px;
}

.transaction-list-container {
  margin: 31.5px auto;
  border-radius: 4px;
  background: #fff;
  border-top: 0.6px solid #0000001f;
  border-left: 0.6px solid #0000001f;
  border-right: 0.6px solid #0000001f;
  width: 664px;
}

.category-list-hidden {
  display: none;
}

.category-list-active {
  display: block;
}

.transaction-details-button,
.summary-button {
  color: #2db84c;
  text-align: center;
  font-family: var(--primary-font);
  font-size: 14px;
  font-weight: var(--font-Weight-normal);
  line-height: 16px; /* 114.286% */
  text-transform: uppercase;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.transaction-title {
  width: 664px;
  height: 68px;
  border-bottom: 1px solid #e0e0e0;
  padding-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 65.6px;
}

.transaction-detail {
  display: flex;
  width: 664px;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.transaction-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 664px;
  height: 69px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding-left: 30px;
  padding-right: 30px;
}

.transaction-category {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  height: 69px;
  padding-right: 15.8px;
  padding-left: 16px;
}

.gap {
  height: 32px;
  background: #0000001f;
}

.quantity-transactions {
  color: rgba(0, 0, 0, 0.54);
  font-family: var(--primary-font);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
}

.category-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 9px;
}

.datetime {
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
}

.date-text {
  color: rgba(0, 0, 0, 0.87);
  font-family: var(--primary-font);
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px; /* 50% */
}

.daymonthyear {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.daymonthyear-text {
  color: #333;
  font-family: var(--primary-font);
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px; /* 136.364% */
  text-transform: capitalize;
}

.note-text {
  color: black;
  font-family: var(--primary-font);
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px; /* 136.364% */
  text-transform: capitalize;
}

.amount-outflow {
  color: #e51c23;
  font-family: var(--primary-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
}

.amount-income {
  color: #039be5;
  font-family: var(--primary-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
}

.total-amount-text {
  color: rgba(0, 0, 0, 0.87);
  text-align: right;
  font-family: var(--primary-font);
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px; /* 88.235% */
}

.category-text {
  color: rgba(0, 0, 0, 0.87);
  font-family: var(--primary-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

.summary {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-right: 16px;
  padding-left: 16px;
  border-bottom: 0.6px solid #0000001f;
}

.inflow,
.outflow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flow-text {
  color: #333;
  font-family: var(--primary-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
}

.inflow,
.outflow {
  color: black;
  padding: 10px;
}

.balance {
  color: black;
  padding: 10px;
  text-align: right;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.amount {
  color: #333;
  font-family: var(--primary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 100% */
}

.summary-hidden {
  display: none;
}

.summary-active {
  display: block;
}
